<a href="https://colab.research.google.com/github/sanaomaro/AIM-5001/blob/main/S_Omar_M11_assn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
import pandas as pd
import numpy as np

#load dataframe from csv
df = pd.read_csv("https://raw.githubusercontent.com/sanaomaro/AIM-5001/main/M11_Data.csv")

#print dataframe
print(df)

   Month     Category      Caltex        Gulf       Mobil
0   Open   Engine Oil  140 :  000  199 :  000  141 :  000
1    NaN  GearBox Oil  198 :  000  132 :  000  121 :  000
2    Jan   Engine Oil  170 :  103  194 :  132  109 :  127
3    NaN  GearBox Oil  132 :  106  125 :  105  191 :  100
4    Feb   Engine Oil  112 :  133  138 :  113  171 :  101
5    NaN  GearBox Oil  193 :  148  199 :  119  134 :  127
6    Mar   Engine Oil  184 :  100  141 :  141  114 :  108
7    NaN  GearBox Oil  138 :  121  172 :  133  193 :  115
8    Apr   Engine Oil  149 :  150  117 :  118  117 :  118
9    NaN  GearBox Oil  185 :  125  191 :  133  119 :  121
10   May   Engine Oil  170 :  139  104 :  119  200 :  117
11   NaN  GearBox Oil  168 :  117  138 :  102  121 :  146
12   Jun   Engine Oil  159 :  129  170 :  138  169 :  105
13   NaN  GearBox Oil  107 :  129  195 :  141  141 :  112

In [ ]:
df

   Month     Category      Caltex        Gulf       Mobil
0   Open   Engine Oil  140 :  000  199 :  000  141 :  000
1    NaN  GearBox Oil  198 :  000  132 :  000  121 :  000
2    Jan   Engine Oil  170 :  103  194 :  132  109 :  127
3    NaN  GearBox Oil  132 :  106  125 :  105  191 :  100
4    Feb   Engine Oil  112 :  133  138 :  113  171 :  101
5    NaN  GearBox Oil  193 :  148  199 :  119  134 :  127
6    Mar   Engine Oil  184 :  100  141 :  141  114 :  108
7    NaN  GearBox Oil  138 :  121  172 :  133  193 :  115
8    Apr   Engine Oil  149 :  150  117 :  118  117 :  118
9    NaN  GearBox Oil  185 :  125  191 :  133  119 :  121
10   May   Engine Oil  170 :  139  104 :  119  200 :  117
11   NaN  GearBox Oil  168 :  117  138 :  102  121 :  146
12   Jun   Engine Oil  159 :  129  170 :  138  169 :  105
13   NaN  GearBox Oil  107 :  129  195 :  141  141 :  112

First, we need to convert the data into long format, by making the three columns [Caltex	Gulf	Mobil] into one column [manufacturers_oil], and by putting their values as a seperated column called [No_gallons]

In [ ]:
#df=df.pivot_table(columns=['Month', 'Category'],values = ["manufacturers_oil"])
df =df.melt(id_vars=['Month', 'Category'],
             var_name="manufacturers_oil",
             value_name="No_gallons")

In [ ]:
df

   Month     Category manufacturers_oil  No_gallons
0   Open   Engine Oil            Caltex  140 :  000
1    NaN  GearBox Oil            Caltex  198 :  000
2    Jan   Engine Oil            Caltex  170 :  103
3    NaN  GearBox Oil            Caltex  132 :  106
4    Feb   Engine Oil            Caltex  112 :  133
5    NaN  GearBox Oil            Caltex  193 :  148
6    Mar   Engine Oil            Caltex  184 :  100
7    NaN  GearBox Oil            Caltex  138 :  121
8    Apr   Engine Oil            Caltex  149 :  150
9    NaN  GearBox Oil            Caltex  185 :  125
10   May   Engine Oil            Caltex  170 :  139
11   NaN  GearBox Oil            Caltex  168 :  117
12   Jun   Engine Oil            Caltex  159 :  129
13   NaN  GearBox Oil            Caltex  107 :  129
14  Open   Engine Oil              Gulf  199 :  000
15   NaN  GearBox Oil              Gulf  132 :  000
16   Jan   Engine Oil              Gulf  194 :  132
17   NaN  GearBox Oil              Gulf  125 :  105
18   Feb   Engine Oil              Gulf  138 :  113
19   NaN  GearBox Oil              Gulf  199 :  119
20   Mar   Engine Oil              Gulf  141 :  141
21   NaN  GearBox Oil              Gulf  172 :  133
22   Apr   Engine Oil              Gulf  117 :  118
23   NaN  GearBox Oil              Gulf  191 :  133
24   May   Engine Oil              Gulf  104 :  119
25   NaN  GearBox Oil              Gulf  138 :  102
26   Jun   Engine Oil              Gulf  170 :  138
27   NaN  GearBox Oil              Gulf  195 :  141
28  Open   Engine Oil             Mobil  141 :  000
29   NaN  GearBox Oil             Mobil  121 :  000
30   Jan   Engine Oil             Mobil  109 :  127
31   NaN  GearBox Oil             Mobil  191 :  100
32   Feb   Engine Oil             Mobil  171 :  101
33   NaN  GearBox Oil             Mobil  134 :  127
34   Mar   Engine Oil             Mobil  114 :  108
35   NaN  GearBox Oil             Mobil  193 :  115
36   Apr   Engine Oil             Mobil  117 :  118
37   NaN  GearBox Oil             Mobil  119 :  121
38   May   Engine Oil             Mobil  200 :  117
39   NaN  GearBox Oil             Mobil  121 :  146
40   Jun   Engine Oil             Mobil  169 :  105
41   NaN  GearBox Oil             Mobil  141 :  112

Second, we need to twist this new column No_gallons, by seperating it into two columns [purchased and consumed] because it does not make sense to have both values into one column.

**Steps followed to do that:**

1. Filling No_gallons values into a list.

In [ ]:
gallons=df['No_gallons'].tolist()
print(gallons)
print(type(gallons))
print(len(gallons))

['140 :  000', '198 :  000', '170 :  103', '132 :  106', '112 :  133', '193 :  148', '184 :  100', '138 :  121', '149 :  150', '185 :  125', '170 :  139', '168 :  117', '159 :  129', '107 :  129', '199 :  000', '132 :  000', '194 :  132', '125 :  105', '138 :  113', '199 :  119', '141 :  141', '172 :  133', '117 :  118', '191 :  133', '104 :  119', '138 :  102', '170 :  138', '195 :  141', '141 :  000', '121 :  000', '109 :  127', '191 :  100', '171 :  101', '134 :  127', '114 :  108', '193 :  115', '117 :  118', '119 :  121', '200 :  117', '121 :  146', '169 :  105', '141 :  112']
<class 'list'>
42

2. Creating two lists, and using regex rules to seperate each value in the previous list and putting the value before the : into the the list that is going to fill the purchased column, and the number after ":" sign into the the list that is going to fill the consumed column.

In [ ]:
numbers = []
numbers1 = []
#gallons = df['No_gallons']
print(len(gallons))
print(gallons[0])
i = 0
for i in range(0,len(gallons)):
  numbers.append(re.findall('[0-9]+$',gallons[i]))
  numbers1.append(re.findall('^[0-9]+',gallons[i]))
 
type(numbers)
print(numbers)
print(numbers1)

42
140 :  000
[['000'], ['000'], ['103'], ['106'], ['133'], ['148'], ['100'], ['121'], ['150'], ['125'], ['139'], ['117'], ['129'], ['129'], ['000'], ['000'], ['132'], ['105'], ['113'], ['119'], ['141'], ['133'], ['118'], ['133'], ['119'], ['102'], ['138'], ['141'], ['000'], ['000'], ['127'], ['100'], ['101'], ['127'], ['108'], ['115'], ['118'], ['121'], ['117'], ['146'], ['105'], ['112']]
[['140'], ['198'], ['170'], ['132'], ['112'], ['193'], ['184'], ['138'], ['149'], ['185'], ['170'], ['168'], ['159'], ['107'], ['199'], ['132'], ['194'], ['125'], ['138'], ['199'], ['141'], ['172'], ['117'], ['191'], ['104'], ['138'], ['170'], ['195'], ['141'], ['121'], ['109'], ['191'], ['171'], ['134'], ['114'], ['193'], ['117'], ['119'], ['200'], ['121'], ['169'], ['141']]

In [ ]:
len(numbers1)
len(numbers)

42

3. removing any strings from these two newly created columns

In [ ]:
df['purchased'] = numbers1

In [ ]:
df['purchased'] = df['purchased'].str[0]

In [ ]:
df['consumed'] = numbers

In [ ]:
df['consumed'] = df['consumed'].str[0]

In [ ]:
df

   Month     Category manufacturers_oil  No_gallons purchased consumed
0   Open   Engine Oil            Caltex  140 :  000       140      000
1    NaN  GearBox Oil            Caltex  198 :  000       198      000
2    Jan   Engine Oil            Caltex  170 :  103       170      103
3    NaN  GearBox Oil            Caltex  132 :  106       132      106
4    Feb   Engine Oil            Caltex  112 :  133       112      133
5    NaN  GearBox Oil            Caltex  193 :  148       193      148
6    Mar   Engine Oil            Caltex  184 :  100       184      100
7    NaN  GearBox Oil            Caltex  138 :  121       138      121
8    Apr   Engine Oil            Caltex  149 :  150       149      150
9    NaN  GearBox Oil            Caltex  185 :  125       185      125
10   May   Engine Oil            Caltex  170 :  139       170      139
11   NaN  GearBox Oil            Caltex  168 :  117       168      117
12   Jun   Engine Oil            Caltex  159 :  129       159      129
13   NaN  GearBox Oil            Caltex  107 :  129       107      129
14  Open   Engine Oil              Gulf  199 :  000       199      000
15   NaN  GearBox Oil              Gulf  132 :  000       132      000
16   Jan   Engine Oil              Gulf  194 :  132       194      132
17   NaN  GearBox Oil              Gulf  125 :  105       125      105
18   Feb   Engine Oil              Gulf  138 :  113       138      113
19   NaN  GearBox Oil              Gulf  199 :  119       199      119
20   Mar   Engine Oil              Gulf  141 :  141       141      141
21   NaN  GearBox Oil              Gulf  172 :  133       172      133
22   Apr   Engine Oil              Gulf  117 :  118       117      118
23   NaN  GearBox Oil              Gulf  191 :  133       191      133
24   May   Engine Oil              Gulf  104 :  119       104      119
25   NaN  GearBox Oil              Gulf  138 :  102       138      102
26   Jun   Engine Oil              Gulf  170 :  138       170      138
27   NaN  GearBox Oil              Gulf  195 :  141       195      141
28  Open   Engine Oil             Mobil  141 :  000       141      000
29   NaN  GearBox Oil             Mobil  121 :  000       121      000
30   Jan   Engine Oil             Mobil  109 :  127       109      127
31   NaN  GearBox Oil             Mobil  191 :  100       191      100
32   Feb   Engine Oil             Mobil  171 :  101       171      101
33   NaN  GearBox Oil             Mobil  134 :  127       134      127
34   Mar   Engine Oil             Mobil  114 :  108       114      108
35   NaN  GearBox Oil             Mobil  193 :  115       193      115
36   Apr   Engine Oil             Mobil  117 :  118       117      118
37   NaN  GearBox Oil             Mobil  119 :  121       119      121
38   May   Engine Oil             Mobil  200 :  117       200      117
39   NaN  GearBox Oil             Mobil  121 :  146       121      146
40   Jun   Engine Oil             Mobil  169 :  105       169      105
41   NaN  GearBox Oil             Mobil  141 :  112       141      112

In [ ]:
print(df.index)

RangeIndex(start=0, stop=42, step=1)

In [ ]:
df=df.reset_index(drop=True)

Before going a head we need to fill the NAN values on the Month column each with its previous row value.

In [ ]:
df = df.apply(lambda x: x.fillna(df.Month.shift())).ffill()
df

   Month     Category manufacturers_oil  No_gallons purchased consumed
0   Open   Engine Oil            Caltex  140 :  000       140      000
1   Open  GearBox Oil            Caltex  198 :  000       198      000
2    Jan   Engine Oil            Caltex  170 :  103       170      103
3    Jan  GearBox Oil            Caltex  132 :  106       132      106
4    Feb   Engine Oil            Caltex  112 :  133       112      133
5    Feb  GearBox Oil            Caltex  193 :  148       193      148
6    Mar   Engine Oil            Caltex  184 :  100       184      100
7    Mar  GearBox Oil            Caltex  138 :  121       138      121
8    Apr   Engine Oil            Caltex  149 :  150       149      150
9    Apr  GearBox Oil            Caltex  185 :  125       185      125
10   May   Engine Oil            Caltex  170 :  139       170      139
11   May  GearBox Oil            Caltex  168 :  117       168      117
12   Jun   Engine Oil            Caltex  159 :  129       159      129
13   Jun  GearBox Oil            Caltex  107 :  129       107      129
14  Open   Engine Oil              Gulf  199 :  000       199      000
15  Open  GearBox Oil              Gulf  132 :  000       132      000
16   Jan   Engine Oil              Gulf  194 :  132       194      132
17   Jan  GearBox Oil              Gulf  125 :  105       125      105
18   Feb   Engine Oil              Gulf  138 :  113       138      113
19   Feb  GearBox Oil              Gulf  199 :  119       199      119
20   Mar   Engine Oil              Gulf  141 :  141       141      141
21   Mar  GearBox Oil              Gulf  172 :  133       172      133
22   Apr   Engine Oil              Gulf  117 :  118       117      118
23   Apr  GearBox Oil              Gulf  191 :  133       191      133
24   May   Engine Oil              Gulf  104 :  119       104      119
25   May  GearBox Oil              Gulf  138 :  102       138      102
26   Jun   Engine Oil              Gulf  170 :  138       170      138
27   Jun  GearBox Oil              Gulf  195 :  141       195      141
28  Open   Engine Oil             Mobil  141 :  000       141      000
29  Open  GearBox Oil             Mobil  121 :  000       121      000
30   Jan   Engine Oil             Mobil  109 :  127       109      127
31   Jan  GearBox Oil             Mobil  191 :  100       191      100
32   Feb   Engine Oil             Mobil  171 :  101       171      101
33   Feb  GearBox Oil             Mobil  134 :  127       134      127
34   Mar   Engine Oil             Mobil  114 :  108       114      108
35   Mar  GearBox Oil             Mobil  193 :  115       193      115
36   Apr   Engine Oil             Mobil  117 :  118       117      118
37   Apr  GearBox Oil             Mobil  119 :  121       119      121
38   May   Engine Oil             Mobil  200 :  117       200      117
39   May  GearBox Oil             Mobil  121 :  146       121      146
40   Jun   Engine Oil             Mobil  169 :  105       169      105
41   Jun  GearBox Oil             Mobil  141 :  112       141      112

Setting double indexing - multi indexing.

In [ ]:
df.set_index(['Month', 'Category'])

                  manufacturers_oil  No_gallons purchased consumed
Month Category
Open  Engine Oil             Caltex  140 :  000       140      000
      GearBox Oil            Caltex  198 :  000       198      000
Jan   Engine Oil             Caltex  170 :  103       170      103
      GearBox Oil            Caltex  132 :  106       132      106
Feb   Engine Oil             Caltex  112 :  133       112      133
      GearBox Oil            Caltex  193 :  148       193      148
Mar   Engine Oil             Caltex  184 :  100       184      100
      GearBox Oil            Caltex  138 :  121       138      121
Apr   Engine Oil             Caltex  149 :  150       149      150
      GearBox Oil            Caltex  185 :  125       185      125
May   Engine Oil             Caltex  170 :  139       170      139
      GearBox Oil            Caltex  168 :  117       168      117
Jun   Engine Oil             Caltex  159 :  129       159      129
      GearBox Oil            Caltex  107 :  129       107      129
Open  Engine Oil               Gulf  199 :  000       199      000
      GearBox Oil              Gulf  132 :  000       132      000
Jan   Engine Oil               Gulf  194 :  132       194      132
      GearBox Oil              Gulf  125 :  105       125      105
Feb   Engine Oil               Gulf  138 :  113       138      113
      GearBox Oil              Gulf  199 :  119       199      119
Mar   Engine Oil               Gulf  141 :  141       141      141
      GearBox Oil              Gulf  172 :  133       172      133
Apr   Engine Oil               Gulf  117 :  118       117      118
      GearBox Oil              Gulf  191 :  133       191      133
May   Engine Oil               Gulf  104 :  119       104      119
      GearBox Oil              Gulf  138 :  102       138      102
Jun   Engine Oil               Gulf  170 :  138       170      138
      GearBox Oil              Gulf  195 :  141       195      141
Open  Engine Oil              Mobil  141 :  000       141      000
      GearBox Oil             Mobil  121 :  000       121      000
Jan   Engine Oil              Mobil  109 :  127       109      127
      GearBox Oil             Mobil  191 :  100       191      100
Feb   Engine Oil              Mobil  171 :  101       171      101
      GearBox Oil             Mobil  134 :  127       134      127
Mar   Engine Oil              Mobil  114 :  108       114      108
      GearBox Oil             Mobil  193 :  115       193      115
Apr   Engine Oil              Mobil  117 :  118       117      118
      GearBox Oil             Mobil  119 :  121       119      121
May   Engine Oil              Mobil  200 :  117       200      117
      GearBox Oil             Mobil  121 :  146       121      146
Jun   Engine Oil              Mobil  169 :  105       169      105
      GearBox Oil             Mobil  141 :  112       141      112

In [ ]:
df.columns = df.columns.str.strip()
df

   Month     Category manufacturers_oil  No_gallons purchased consumed
0   Open   Engine Oil            Caltex  140 :  000       140      000
1   Open  GearBox Oil            Caltex  198 :  000       198      000
2    Jan   Engine Oil            Caltex  170 :  103       170      103
3    Jan  GearBox Oil            Caltex  132 :  106       132      106
4    Feb   Engine Oil            Caltex  112 :  133       112      133
5    Feb  GearBox Oil            Caltex  193 :  148       193      148
6    Mar   Engine Oil            Caltex  184 :  100       184      100
7    Mar  GearBox Oil            Caltex  138 :  121       138      121
8    Apr   Engine Oil            Caltex  149 :  150       149      150
9    Apr  GearBox Oil            Caltex  185 :  125       185      125
10   May   Engine Oil            Caltex  170 :  139       170      139
11   May  GearBox Oil            Caltex  168 :  117       168      117
12   Jun   Engine Oil            Caltex  159 :  129       159      129
13   Jun  GearBox Oil            Caltex  107 :  129       107      129
14  Open   Engine Oil              Gulf  199 :  000       199      000
15  Open  GearBox Oil              Gulf  132 :  000       132      000
16   Jan   Engine Oil              Gulf  194 :  132       194      132
17   Jan  GearBox Oil              Gulf  125 :  105       125      105
18   Feb   Engine Oil              Gulf  138 :  113       138      113
19   Feb  GearBox Oil              Gulf  199 :  119       199      119
20   Mar   Engine Oil              Gulf  141 :  141       141      141
21   Mar  GearBox Oil              Gulf  172 :  133       172      133
22   Apr   Engine Oil              Gulf  117 :  118       117      118
23   Apr  GearBox Oil              Gulf  191 :  133       191      133
24   May   Engine Oil              Gulf  104 :  119       104      119
25   May  GearBox Oil              Gulf  138 :  102       138      102
26   Jun   Engine Oil              Gulf  170 :  138       170      138
27   Jun  GearBox Oil              Gulf  195 :  141       195      141
28  Open   Engine Oil             Mobil  141 :  000       141      000
29  Open  GearBox Oil             Mobil  121 :  000       121      000
30   Jan   Engine Oil             Mobil  109 :  127       109      127
31   Jan  GearBox Oil             Mobil  191 :  100       191      100
32   Feb   Engine Oil             Mobil  171 :  101       171      101
33   Feb  GearBox Oil             Mobil  134 :  127       134      127
34   Mar   Engine Oil             Mobil  114 :  108       114      108
35   Mar  GearBox Oil             Mobil  193 :  115       193      115
36   Apr   Engine Oil             Mobil  117 :  118       117      118
37   Apr  GearBox Oil             Mobil  119 :  121       119      121
38   May   Engine Oil             Mobil  200 :  117       200      117
39   May  GearBox Oil             Mobil  121 :  146       121      146
40   Jun   Engine Oil             Mobil  169 :  105       169      105
41   Jun  GearBox Oil             Mobil  141 :  112       141      112

**What was the amount of oil remaining for each type/brand at the end of the chronological period?**


**What was the most consumed brand of oil across the two separate categories/types of oil**

**ANSWER:**

To answer the previous two questions we need to calcuate the difference between the purchased and the consumed oil for each observation and fill it down into a new column called 'volume_diff'.

In [ ]:
for (i, j) in df.iteritems():
  df['volume_diff'] = df['purchased'].astype(int).sub(df['consumed'].astype(int), axis = 0)

In [ ]:
df

,Month,Category,manufacturers_oil,No_gallons,purchased,consumed,volume_diff
0,Open,Engine Oil,Caltex,140 : 000,140,000,140
1,Open,GearBox Oil,Caltex,198 : 000,198,000,198
2,Jan,Engine Oil,Caltex,170 : 103,170,103,67
3,Jan,GearBox Oil,Caltex,132 : 106,132,106,26
4,Feb,Engine Oil,Caltex,112 : 133,112,133,-21
5,Feb,GearBox Oil,Caltex,193 : 148,193,148,45
6,Mar,Engine Oil,Caltex,184 : 100,184,100,84
7,Mar,GearBox Oil,Caltex,138 : 121,138,121,17
8,Apr,Engine Oil,Caltex,149 : 150,149,150,-1
9,Apr,GearBox Oil,Caltex,185 : 125,185,125,60
10,May,Engine Oil,Caltex,170 : 139,170,139,31
11,May,GearBox Oil,Caltex,168 : 117,168,117,51
12,Jun,Engine Oil,Caltex,159 : 129,159,129,30
13,Jun,GearBox Oil,Caltex,107 : 129,107,129,-22
14,Open,Engine Oil,Gulf,199 : 000,199,000,199
15,Open,GearBox Oil,Gulf,132 : 000,132,000,132
16,Jan,Engine Oil,Gulf,194 : 132,194,132,62
17,Jan,GearBox Oil,Gulf,125 : 105,125,105,20
18,Feb,Engine Oil,Gulf,138 : 113,138,113,25
19,Feb,GearBox Oil,Gulf,199 : 119,199,119,80
20,Mar,Engine Oil,Gulf,141 : 141,141,141,0
21,Mar,GearBox Oil,Gulf,172 : 133,172,133,39
22,Apr,Engine Oil,Gulf,117 : 118,117,118,-1
23,Apr,GearBox Oil,Gulf,191 : 133,191,133,58
24,May,Engine Oil,Gulf,104 : 119,104,119,-15
25,May,GearBox Oil,Gulf,138 : 102,138,102,36
26,Jun,Engine Oil,Gulf,170 : 138,170,138,32
27,Jun,GearBox Oil,Gulf,195 : 141,195,141,54
28,Open,Engine Oil,Mobil,141 : 000,141,000,141
29,Open,GearBox Oil,Mobil,121 : 000,121,000,121
30,Jan,Engine Oil,Mobil,109 : 127,109,127,-18
31,Jan,GearBox Oil,Mobil,191 : 100,191,100,91
32,Feb,Engine Oil,Mobil,171 : 101,171,101,70
33,Feb,GearBox Oil,Mobil,134 : 127,134,127,7
34,Mar,Engine Oil,Mobil,114 : 108,114,108,6
35,Mar,GearBox Oil,Mobil,193 : 115,193,115,78
36,Apr,Engine Oil,Mobil,117 : 118,117,118,-1
37,Apr,GearBox Oil,Mobil,119 : 121,119,121,-2
38,May,Engine Oil,Mobil,200 : 117,200,117,83
39,May,GearBox Oil,Mobil,121 : 146,121,146,-25
40,Jun,Engine Oil,Mobil,169 : 105,169,105,64
41,Jun,GearBox Oil,Mobil,141 : 112,141,112,29

The following are:

ATTEMPTs TO GET THE DIFFERENC IN VOLUME FOR EACH macufacturer oil at the end of the period



---



---



By grouping in the following cell we get the left oil for each manufacturer or brand for each month not for the whole period.

In [ ]:
df2 = df.set_index(["Month", "manufacturers_oil"])

grouped = df2.groupby(level=df2.index.names.difference(["volume_diff"]))

grouped.sum()

                         volume_diff
Month manufacturers_oil
Apr   Caltex                      59
      Gulf                        57
      Mobil                       -3
Feb   Caltex                      24
      Gulf                       105
      Mobil                       77
Jan   Caltex                      93
      Gulf                        82
      Mobil                       73
Jun   Caltex                       8
      Gulf                        86
      Mobil                       93
Mar   Caltex                     101
      Gulf                        39
      Mobil                       84
May   Caltex                      82
      Gulf                        21
      Mobil                       58
Open  Caltex                     338
      Gulf                       331
      Mobil                      262

In [ ]:
df.groupby("manufacturers_oil").agg(
    min_v=pd.NamedAgg(column="volume_diff", aggfunc="min"),
    max_v=pd.NamedAgg(column="volume_diff", aggfunc="max"),
    #average_weight=pd.NamedAgg(column="weight", aggfunc=np.mean),
)

                   min_v  max_v
manufacturers_oil
Caltex               -22    198
Gulf                 -15    199
Mobil                -25    141

**THE FOLLOWING SEEMINGLY FAILED ATTEMPTS**

In [ ]:
df.groupby("manufacturers_oil").agg(
    **{
        "diff": pd.NamedAgg(column="volume_diff", aggfunc=np.subtract())
    }
)

In [ ]:
grouped = df.groupby(["Month", "manufacturers_oil"], as_index=False)

grouped[["volume_diff"]].aggregate(np.subtract)

In [ ]:
sum2 = 0
sumg2 = 0
for (i, j) in df.iteritems():
 # print('Column Name : ', i)
  #print('Column Contents : ', j.values)
  if i == 'Category':
    if j.equals('Engine Oil'):
      sum = sum +  df['purchased'].astype(int)
      sum2 = sum2 + df['consumed'].astype(int)
      print(i)
      print(j)
    if j.equals('GearBox Oil'):
      sumg = sumg +  df['purchased'].astype(int)
      sumg2 = sumg2 + df['consumed'].astype(int)
      print(i)
      print(j)

print(sum2, sumg2)

In [ ]:
for i in df.itertuples():
    print(i)

In [ ]:
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

In [ ]:
uniqueV = []
from pandas.tseries.frequencies import unique
for (columnName, columnData) in df.iteritems():
    #print('Column Name : ', columnName)
    #print('Column Contents : ', columnData.values)
    if columnName == 'manufacturers_oil':
      print(columnData.values)
      uniqueV = columnData.unique()
      print(uniqueV)
      for i in uniqueV:
        sum = sum - df['volume_diff'].astype(int)
        print(df['volume_diff'].i)

In [ ]:
sum = []
for i, j in df[['manufacturers_oil']].iterrows():
  print(df['volume_diff'][i])
  sum = sum - df['volume_diff'][i]
  print(sum)

In [ ]:
df['purchased']=df['purchased'].astype(int)
type(df['purchased'])

pandas.core.series.Series

In [ ]:
result = 0
for row in df.itertuples(index=False):
    result += max(int(row[df.columns.get_loc('purchased')]), int(row[df.columns.get_loc('consumed')]))
    print(result)

result

140
338
508
640
773
966
1150
1288
1438
1623
1793
1961
2120
2249
2448
2580
2774
2899
3037
3236
3377
3549
3667
3858
3977
4115
4285
4480
4621
4742
4869
5060
5231
5365
5479
5672
5790
5911
6111
6257
6426
6567

6567

**The total of the purchased volume of OIL for the two categories for each month:**

In [ ]:
df['purchased']=df['purchased'].astype(int)

In [ ]:
df2 = df.groupby(["Month", "Category"], as_index=False).agg({"purchased": np.sum})
df2.pivot(index="Month", columns="Category", values="purchased")

Category  Engine Oil  GearBox Oil
Month
Apr              383          495
Feb              421          526
Jan              473          448
Jun              498          443
Mar              439          503
May              474          427
Open             480          451

**The total of the **purchased** volume each oil manufacturer under each category by month:**

In [ ]:
df3 = df.groupby(["Month", "Category", 'manufacturers_oil'], as_index=False).agg({"purchased": np.sum})
df3.pivot(index="Month", columns=["Category", "manufacturers_oil"], values="purchased")

Category          Engine Oil            GearBox Oil
manufacturers_oil     Caltex Gulf Mobil      Caltex Gulf Mobil
Month
Apr                      149  117   117         185  191   119
Feb                      112  138   171         193  199   134
Jan                      170  194   109         132  125   191
Jun                      159  170   169         107  195   141
Mar                      184  141   114         138  172   193
May                      170  104   200         168  138   121
Open                     140  199   141         198  132   121

In [ ]:
dfp = df.groupby(["Month", "Category", "manufacturers_oil"], as_index=False).agg({"purchased": np.sum})
dfp.pivot(index=["Month", "Category"], columns="manufacturers_oil", values="purchased")

manufacturers_oil  Caltex  Gulf  Mobil
Month Category
Apr   Engine Oil      149   117    117
      GearBox Oil     185   191    119
Feb   Engine Oil      112   138    171
      GearBox Oil     193   199    134
Jan   Engine Oil      170   194    109
      GearBox Oil     132   125    191
Jun   Engine Oil      159   170    169
      GearBox Oil     107   195    141
Mar   Engine Oil      184   141    114
      GearBox Oil     138   172    193
May   Engine Oil      170   104    200
      GearBox Oil     168   138    121
Open  Engine Oil      140   199    141
      GearBox Oil     198   132    121

The total of the **consumed** volume each oil manufacturer under each category by month:

In [ ]:
df['consumed'] = df['consumed'].astype(int)

In [ ]:
df4 = df.groupby(["Month", "Category", 'manufacturers_oil'], as_index=False).agg({"consumed": np.sum})
df4.pivot(index="Month", columns=["Category", "manufacturers_oil"], values="consumed")

Category          Engine Oil            GearBox Oil
manufacturers_oil     Caltex Gulf Mobil      Caltex Gulf Mobil
Month
Apr                      150  118   118         125  133   121
Feb                      133  113   101         148  119   127
Jan                      103  132   127         106  105   100
Jun                      129  138   105         129  141   112
Mar                      100  141   108         121  133   115
May                      139  119   117         117  102   146
Open                       0    0     0           0    0     0

In [ ]:
dfc = df.groupby(["Month", "Category", "manufacturers_oil"], as_index=False).agg({"consumed": np.sum})
dfc.pivot(index=["Month", "Category"], columns="manufacturers_oil", values="consumed")

manufacturers_oil  Caltex  Gulf  Mobil
Month Category
Apr   Engine Oil      150   118    118
      GearBox Oil     125   133    121
Feb   Engine Oil      133   113    101
      GearBox Oil     148   119    127
Jan   Engine Oil      103   132    127
      GearBox Oil     106   105    100
Jun   Engine Oil      129   138    105
      GearBox Oil     129   141    112
Mar   Engine Oil      100   141    108
      GearBox Oil     121   133    115
May   Engine Oil      139   119    117
      GearBox Oil     117   102    146
Open  Engine Oil        0     0      0
      GearBox Oil       0     0      0

In [ ]:
df

,Month,Category,manufacturers_oil,No_gallons,purchased,consumed,volume_diff
0,Open,Engine Oil,Caltex,140 : 000,140,0,140
1,Open,GearBox Oil,Caltex,198 : 000,198,0,198
2,Jan,Engine Oil,Caltex,170 : 103,170,103,67
3,Jan,GearBox Oil,Caltex,132 : 106,132,106,26
4,Feb,Engine Oil,Caltex,112 : 133,112,133,-21
5,Feb,GearBox Oil,Caltex,193 : 148,193,148,45
6,Mar,Engine Oil,Caltex,184 : 100,184,100,84
7,Mar,GearBox Oil,Caltex,138 : 121,138,121,17
8,Apr,Engine Oil,Caltex,149 : 150,149,150,-1
9,Apr,GearBox Oil,Caltex,185 : 125,185,125,60
10,May,Engine Oil,Caltex,170 : 139,170,139,31
11,May,GearBox Oil,Caltex,168 : 117,168,117,51
12,Jun,Engine Oil,Caltex,159 : 129,159,129,30
13,Jun,GearBox Oil,Caltex,107 : 129,107,129,-22
14,Open,Engine Oil,Gulf,199 : 000,199,0,199
15,Open,GearBox Oil,Gulf,132 : 000,132,0,132
16,Jan,Engine Oil,Gulf,194 : 132,194,132,62
17,Jan,GearBox Oil,Gulf,125 : 105,125,105,20
18,Feb,Engine Oil,Gulf,138 : 113,138,113,25
19,Feb,GearBox Oil,Gulf,199 : 119,199,119,80
20,Mar,Engine Oil,Gulf,141 : 141,141,141,0
21,Mar,GearBox Oil,Gulf,172 : 133,172,133,39
22,Apr,Engine Oil,Gulf,117 : 118,117,118,-1
23,Apr,GearBox Oil,Gulf,191 : 133,191,133,58
24,May,Engine Oil,Gulf,104 : 119,104,119,-15
25,May,GearBox Oil,Gulf,138 : 102,138,102,36
26,Jun,Engine Oil,Gulf,170 : 138,170,138,32
27,Jun,GearBox Oil,Gulf,195 : 141,195,141,54
28,Open,Engine Oil,Mobil,141 : 000,141,0,141
29,Open,GearBox Oil,Mobil,121 : 000,121,0,121
30,Jan,Engine Oil,Mobil,109 : 127,109,127,-18
31,Jan,GearBox Oil,Mobil,191 : 100,191,100,91
32,Feb,Engine Oil,Mobil,171 : 101,171,101,70
33,Feb,GearBox Oil,Mobil,134 : 127,134,127,7
34,Mar,Engine Oil,Mobil,114 : 108,114,108,6
35,Mar,GearBox Oil,Mobil,193 : 115,193,115,78
36,Apr,Engine Oil,Mobil,117 : 118,117,118,-1
37,Apr,GearBox Oil,Mobil,119 : 121,119,121,-2
38,May,Engine Oil,Mobil,200 : 117,200,117,83
39,May,GearBox Oil,Mobil,121 : 146,121,146,-25
40,Jun,Engine Oil,Mobil,169 : 105,169,105,64
41,Jun,GearBox Oil,Mobil,141 : 112,141,112,29

In [ ]:
df['volume_diff'] = df['volume_diff'].astype(int)

In [ ]:
#df['volume_diff']=df['volume_diff'].astype(str)
df3 = df.groupby(["Month", "Category", 'manufacturers_oil'], as_index=False).agg({"purchased": np.sum, "consumed": np.sum, "volume_diff": np.sum})
df3.pivot(index="Month", columns=["Category", "manufacturers_oil"], values=["purchased","consumed","volume_diff"])
#.agg({'Item':'size','shop1':['sum','mean','std'],'shop2':['sum','mean','std'],'shop3':['sum','mean','std']})
#rnm_cols = dict(size='Size', sum='Sum', mean='Mean', std='Std')
#df.set_index(['Month','Category']).stack().groupby(["Month", "Category", 'manufacturers_oil']) \
 # .agg(rnm_cols.keys()).rename(columns=rnm_cols)

                   purchased                                     consumed  \
Category          Engine Oil            GearBox Oil            Engine Oil
manufacturers_oil     Caltex Gulf Mobil      Caltex Gulf Mobil     Caltex
Month
Apr                      149  117   117         185  191   119        150
Feb                      112  138   171         193  199   134        133
Jan                      170  194   109         132  125   191        103
Jun                      159  170   169         107  195   141        129
Mar                      184  141   114         138  172   193        100
May                      170  104   200         168  138   121        139
Open                     140  199   141         198  132   121          0

                                                    volume_diff             \
Category                     GearBox Oil             Engine Oil
manufacturers_oil Gulf Mobil      Caltex Gulf Mobil      Caltex Gulf Mobil
Month
Apr                118   118         125  133   121          -1   -1    -1
Feb                113   101         148  119   127         -21   25    70
Jan                132   127         106  105   100          67   62   -18
Jun                138   105         129  141   112          30   32    64
Mar                141   108         121  133   115          84    0     6
May                119   117         117  102   146          31  -15    83
Open                 0     0           0    0     0         140  199   141


Category          GearBox Oil
manufacturers_oil      Caltex Gulf Mobil
Month
Apr                        60   58    -2
Feb                        45   80     7
Jan                        26   20    91
Jun                       -22   54    29
Mar                        17   39    78
May                        51   36   -25
Open                      198  132   121

In [ ]:
#by summing all consumed data we get the solution of what is left of the oil for each brand/ manufactureres_oil
df.groupby('manufacturers_oil').sum('consumed')

                   purchased  consumed  volume_diff
manufacturers_oil
Caltex                  2205      1500          705
Gulf                    2215      1494          721
Mobil                   2041      1397          644

In [ ]:
#by summing all consumed data we get the solution of what is left of the oil for each brand/ manufactureres_oil for each category
df.groupby(['Category','manufacturers_oil'])['consumed'].sum().sort_values(ascending=False)

Category     manufacturers_oil
Engine Oil   Gulf                 761
             Caltex               754
GearBox Oil  Caltex               746
             Gulf                 733
             Mobil                721
Engine Oil   Mobil                676
Name: consumed, dtype: int64

 What was the most consumed brand of oil across the two separate categories/types of oil?

 The answer seems to be Caltex for both of categories.
 and by sorting the values it seems that Gulf is the most consumed brand over the two categories which is the correct answer.

In [ ]:
'''from pandas.io.formats.format import DataFrameFormatter
for k, v in df.items():
    DataFrameFormatter[k] = v.groupby('Month').agg(list)
'''
variables = locals()
for d,name in zip(df,df.columns):
    variables["{0}".format(name)]=pd.DataFrame(d.groupby('Month')['Category'].apply(list)).reset_index(level=0)
    print(variables)

In [ ]:
groups = df.groupby(["Month", 'manufacturers_oil'], as_index=False)
for name, group in groups:
 #   print(name)
  #  print(group)
  #  print("\n")
    for name1 in groups.Month:
      for name3 in groups.manufacturers_oil:
        df['diff_3_4'] = df.apply(np.subtract(df["volume_diff"]), axis=1)
        res = df['diff_3_4']
        print("for month ", name1, "Manufacture: ", name3, " There are left: ", res)

**how would you define a “single observation” for the 
data shown in the graphic?; How many key values are associated with each data value?; How many 
columns should your long format structure contain based on the information provided in the graphic 
shown above?; What would the column headings for the long structure be?; etc. Use your answers to 
these questions to guide your reshaping/transformational work on the data. Your 
reshaping/transformational steps must include converting the above table to a “tidy” long format. 
Additional transformational steps (e.g., filling in missing data values, renaming columns, etc.) should be 
performed as needed to ensure that your data is, in fact, “tidy”.**

**Answers:**

There are originally four key values in this datasetm but in this notebook three were added (purchased , consumed, vol_diff).

It should be long to calculate the difference and setup the columns for more aggregations.

Headlines would be As suggested above.

I filled the missed data by filling to the nearest / the previous value, this was in the month column.

# Pittsburgh Bridges Data Set

**DATA DESCRIPTION:**

The type field state whether a property is continuous/integer (c) or nominal (n).

For properties with c,n type, the range of continuous numbers is given first and the possible values of the nominal follow the semi-colon.

Name / Type / Possible values / Comments

1. IDENTIF / -- / -- / identifier of the examples
2. RIVER / n / A, M, O / --
3. LOCATION / n / 1 to 52 / --
4. ERECTED / c,n / 1818-1986 ; CRAFTS, EMERGING, MATURE, MODERN / --
5. PURPOSE / n / WALK, AQUEDUCT, RR, HIGHWAY / --
6. LENGTH / c,n / 804-4558 ; SHORT, MEDIUM, LONG / --
7. LANES / c,n / 1, 2, 4, 6 ; 1, 2, 4, 6 / --
8. CLEAR-G / n / N, G / --
9. T-OR-D / n / THROUGH, DECK / --
10. MATERIAL / n / WOOD, IRON, STEEL / --
11. SPAN / n / SHORT, MEDUIM, LONG / --
12. REL-L / n / S, S-F, F / --
13. TYPE / n / WOOD, SUSPEN, SIMPLE-T, ARCH, CANTILEV, CONT-T / --

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/sanaomaro/AIM-5001/main/bridges.data1.csv", header=None)
df

       0  1   2     3         4     5  6  7        8      9       10 11    12
0      E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH   WOOD   SHORT  S  WOOD
1      E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH   WOOD   SHORT  S  WOOD
2      E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH   WOOD       ?  S  WOOD
3      E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH   WOOD   SHORT  S  WOOD
4      E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH   WOOD       ?  S  WOOD
..    ... ..  ..   ...       ...   ... .. ..      ...    ...     ... ..   ...
103   E84  A  24  1969   HIGHWAY   870  6  G  THROUGH  STEEL  MEDIUM  F  ARCH
104   E91  O  44  1975   HIGHWAY  3756  6  G  THROUGH  STEEL    LONG  F  ARCH
105   E90  M   7  1978   HIGHWAY   950  6  G  THROUGH  STEEL    LONG  F  ARCH
106  E100  O  43  1982   HIGHWAY     ?  ?  G        ?      ?       ?  F     ?
107  E109  A  28  1986   HIGHWAY     ?  ?  G        ?      ?       ?  F     ?

[108 rows x 13 columns]

In [ ]:
df.columns = ["DENTIF", "RIVER", "LOCATION", "ERECTED", "PURPOSE", "LENGTH", "LANES", "CLEAR-G", "T-OR-D", "MATERIAL", "SPAN", "REL-L", "TYPE" ]
df

,DENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,?,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,?,?,G,?,?,?,F,?

In [ ]:
df['MATERIAL'].isna().sum()

0

In [ ]:
df['PURPOSE'].isna().sum()

0

In [ ]:
df['LENGTH'].isna().sum()

0

In [ ]:
df['LENGTH'] = df['LENGTH'].replace('?', 0)

In [ ]:
df

,DENTIF,RIVER,LOCATION,ERECTED,PURPOSE,LENGTH,LANES,CLEAR-G,T-OR-D,MATERIAL,SPAN,REL-L,TYPE
0,E1,M,3,1818,HIGHWAY,0,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,0,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,0,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,0,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,0,?,G,?,?,?,F,?

In [ ]:
df['ERECTED'].unique()
df['ERECTED'].astype(int)

0      1818
1      1819
2      1829
3      1837
4      1838
       ...
103    1969
104    1975
105    1978
106    1982
107    1986
Name: ERECTED, Length: 108, dtype: int64

**In the previous steps;** we have done some basic preperation, such as adding headers according to the oriinal description of the data, and making sure that types are correct for some columns, and more importantly replacing the '?' with zero values in the LENGTH column.



---



---

**TASK 2.1**

How many bridges of each ‘Purpose’/’Material’ grouping within the data set have been constructed over each of the rivers listed in the data set.

By grouping on three levels, each river, then each Purpose and Material being  counted together as a third level.

In [ ]:
counts = df['RIVER'].groupby([df['PURPOSE'], df['MATERIAL']]).count()
counts

PURPOSE   MATERIAL
AQUEDUCT  IRON         1
          WOOD         3
HIGHWAY   ?            2
          IRON         7
          STEEL       51
          WOOD        11
RR        IRON         3
          STEEL       27
          WOOD         2
WALK      STEEL        1
Name: RIVER, dtype: int64

TASK 2.2

It could be solved by simply using groupby function, grouping by two columns [Purpose and Material] and then applying mean function to the third dimension LENGTH.

Before thta we make sure that this LENGTH column is integer not string.

In [ ]:
df['LENGTH'].unique()
df['LENGTH']=df['LENGTH'].astype(int)

In [ ]:
length_means = df.groupby(['PURPOSE', 'MATERIAL'])[['LENGTH']].mean()
length_means

                        LENGTH
PURPOSE  MATERIAL
AQUEDUCT IRON      1000.000000
         WOOD       364.000000
HIGHWAY  ?            0.000000
         IRON       521.428571
         STEEL     1405.078431
         WOOD       766.090909
RR       IRON       733.333333
         STEEL     1442.111111
         WOOD         0.000000
WALK     STEEL        0.000000

TASK 2.3 

To get the required report, we need to divide the years into four periods, this could be done by a spcific function (get_year) and the n apply it to the group by function, after that applying the aggregation method to get the four columns of average, minimum, maximum, and count of LENGTH.

In [ ]:
def get_year(year):
  if year < 1860:
    return '1818-1860'
  elif year < 1902:
    return '1860-1902'
  elif year < 1944:
    return '1902-1944'
  else:
    return '1944-1986'

#df['Erected'] = df['ERECTED'].apply(get_year)
grouped = df.groupby(df['ERECTED'].apply(get_year))
#aggs = grouped.agg({'LENGTH': ['mean', 'count', 'min', 'max']})
aggs1 = grouped.agg(AverageLength=('LENGTH', 'mean'),
                   count=('LENGTH', 'count'),
                   Max_Length=('LENGTH', 'max'),
                   Min_Length=('LENGTH', 'min'))
#print(aggs)
print(aggs1)

           AverageLength  count  Max_Length  Min_Length
ERECTED
1818-1860     583.800000     15        1500           0
1860-1902    1000.771429     35        4558           0
1902-1944    1544.972973     37        3000           0
1944-1986    1238.904762     21        3756           0